
distlib==0.3.8
Django==5.0.2
django-tastypie==0.14.6
dnspython==2.4.2

filelock==3.13.1

greenlet==2.0.2
gunicorn==21.2.0
idna==3.4
isort==5.13.2
mccabe==0.7.0
pillow==10.2.0
psycopg2==2.9.9
pylint==3.0.3
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-mimeparse==1.6.0
pytz==2024.1
regex-generator-lib==1.1.0
requests==2.31.0
scipy==1.12.0
six==1.16.0
SQLAlchemy==2.0.20
sqlparse==0.4.4
tomlkit==0.12.3
typing_extensions==4.7.1
tzdata==2023.4
urllib3==2.0.5
virtualenv==20.25.1
virtualenvwrapper-win==1.2.7
Werkzeug==2.3.7
whitenoise==6.6.0
WTForms==3.0.1
xmltodict==0.13.0
