alembic==1.12.0
asgiref==3.7.2
astroid==3.0.3
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
dill==0.3.8
Django==5.0.2
django-tastypie==0.14.6
dnspython==2.4.2
email-validator==2.0.0.post2
Flask==2.3.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
fonttools==4.47.2
greenlet==2.0.2
gunicorn==21.2.0
idna==3.4
isort==5.13.2
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
Mako==1.2.4
MarkupSafe==2.1.3
matplotlib==3.8.2
mccabe==0.7.0
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.2.3
numpy==1.26.3
packaging==23.2
pandas==2.2.0
pillow==10.2.0
platformdirs==4.2.0
psycopg2==2.9.9
pylint==3.0.3
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
pyparsing==3.1.1
python-dateutil==2.8.2
python-mimeparse==1.6.0
pytz==2024.1
regex-generator-lib==1.1.0
requests==2.31.0
scipy==1.12.0
six==1.16.0
SQLAlchemy==2.0.20
sqlparse==0.4.4
tomlkit==0.12.3
typing_extensions==4.7.1
tzdata==2023.4
urllib3==2.0.5
Werkzeug==2.3.7
whitenoise==6.6.0
WTForms==3.0.1
xmltodict==0.13.0
