{% extends 'home_layout.html' %}

 {% block content%}



  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>This is <span>Binply</span> for your audio, video and picture.</h2>
          <p>This is a multimedia Website</p>
          <a href="{% url 'pictures:index'%}" class="btn-get-started">Explore</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  

  
{% endblock%}
  
    
    
   
</body>
</html>

